

.btn{
    margin-bottom: 40px;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: orange;
    border-radius: 30px;
    font-size: larger;
}

.btn:hover{
    border: 1px solid orange;
    background-color: white;
}